# This file is used by pip to install required python packages
# Usage: pip install -r requirements.txt

# Flask Framework
click
Flask
itsdangerous
Jinja2
MarkupSafe
Werkzeug

# Flask Packages
Flask-Login
Flask-Migrate
Flask-Script
Flask-SQLAlchemy
Flask-WTF
Flask-User

# Automated tests
pytest
pytest-cov

# Example base de données
Lorem