# This file is used by pip to install required python packages
# Usage: pip install -r requirements.txt

# Flask Framework
Flask
werkzeug

# Database
flask-sqlalchemy
flask-migrate

# Minify flask text/html
Flask-HTMLmin

# Support markdown
markdown
Flask-MDE

# Analyse static
pylint
pylint-flask
pylint_flask_sqlalchemy
pycodestyle
flake8


# support https
pyopenssl

# Automated tests
pytest
pytest-cov
pytest-flask

# Example base de données
Lorem

# Documentation
sphinx

# package
build
setuptools