# This file is used by pip to install required python packages
# Usage: pip install -r requirements.txt

# Flask Framework
Flask
werkzeug

# Analyse static
pylint
pylint-flask

# Automated tests
pytest
pytest-cov

# Example base de données
Lorem