{% extends 'base.html' %}

{% block content %}
    <h1 class="text-danger">Flask 101 (Blog)</h1>

    <div class="card border-primary row">
        <div class="card-header text-primary border-primary">
            <h2>A propos de cette application</h2>
        </div>
        <div class="card-body border-primary">
            <p class="card-text">
                Et corporis sapiente sit necessitatibus error rem explicabo dicta. Nam quae ullam sed odit maxime vel nihil repudiandae a sunt quas  nihil totam. Et voluptates eius qui magni sunt nam cumque veritatis eos voluptatem voluptate et autem autem id ipsam doloribus? Aut aperiam corporis ut voluptas nostrum ut dolore eligendi. Sed omnis dolorem ut veniam nostrum qui laborum itaque.


            </p>
        </div>
    </div>


{% endblock %}