{% extends 'base.html' %}

{% block content %}
    <h1 class="text-danger"><i class="fas fa-blog"></i> Flask 101 (Blog)</h1>

    <div class="card border-primary row">
        <div class="card-header text-primary border-primary">
            <h2><i class="fas fa-address-card"></i> A propos de cette application</h2>
        </div>
        <div class="card-body border-primary">
            <p class="card-text">
                <p>
                    Cette application est uniquement developpé dans le but de monter en compétence sur flask.
                </p>
                <p>
                    Le code source de cette application est disponible <a class="btn btn-outline-info btn-sm" href="https://github.com/spitant/flask_premier_pas"> sur github</a>.
                </p>
                <p>
                    Pour avoir plus d'information, merci de se reporter au fichier <a class="btn btn-outline-info btn-sm" href="https://github.com/spitant/flask_premier_pas#readme">README.md</a> disponible sur le dépot git.
                </p>
            </p>
        </div>
    </div>


{% endblock %}