{% extends 'base.html' %}

{% block content %}
<h1 class="text-danger"><i class="fas fa-plus-square"></i> {% block title %} Creation d'un nouvel
    article {% endblock %}</h1>

<form method="post">
    <div class="mb-3">
        <label for="title" class="form-label"><h4 class="text-primary">Titre</h4></label>
        <input type="text" name="title"
               placeholder="Titre de l'article" class="form-control"
               value="{{ request.form['title'] }}"></input>
    </div>

    <div class="mb-3">
        <label for="content" class="form-label"><h4 class="text-primary">Contenu</h4></label>
        <textarea name="content" placeholder="Contenu de l'article"
                  class="form-control">{{ request.form['content'] }}</textarea>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary"><i class="far fa-save"></i> Sauvegarder</button>
    </div>
</form>
{% endblock %}