{% extends 'base.html' %}

{% block content %}
    <h1 class="text-danger"><i class="fas fa-blog"></i> {% block title %} Flask 101 (Blog) {%
        endblock %}</h1>
    {% for post in posts %}
    <div class="card border-primary row">
        <div class="card-header text-primary border-primary">
            <h4><a href="{{ url_for('post', post_id=post['id']) }}" class="text-decoration-none">
                <h2><i class="fas fa-newspaper"></i> {{ post['title'] }}</h2>
            </a></h4>
        </div>
        <div class="card-body border-primary">
            <h6>
                <span class="card-subtitle badge bg-info"><i class="far fa-clock"></i> {{
                    post['created'] }}</span>
                <a href="{{ url_for('edit', post_id=post['id']) }}">
                    <span class="badge bg-primary"><i class="far fa-edit"></i> Edit</span>
                </a>
           </h6>
            <p class="card-text">{{ post['content'] | safe }}</p>
        </div>
    </div>
    <br/>
    {% endfor %}
{% endblock %}