{% extends 'base.html' %}

{% block content %}
    <h1 class="text-danger">{% block title %} Flask 101 (Blog) {% endblock %}</h1>
    {% for post in posts %}
    <div class="card border-primary row">
        <div class="card-header text-primary border-primary">
            <h4><a href="{{ url_for('post', post_id=post['id']) }}" class="text-decoration-none">
                <h2>{{ post['title'] }}</h2>
            </a></h4>
        </div>
        <div class="card-body border-primary">
            <h6>
                <span class="card-subtitle badge bg-info">{{ post['created'] }}</span>
                <a href="{{ url_for('edit', id=post['id']) }}">
                    <span class="badge bg-primary">Edit</span>
                </a>
           </h6>
            <p class="card-text">{{ post['content'] }}.</p>
        </div>
    </div>
    <br/>
    {% endfor %}
{% endblock %}