{% extends 'base.html' %}

{% block content %}
    <h1 class="text-danger"><i class="fas fa-blog"></i> Flask 101 (Blog)</h1>
    <div class="card card-white card-todo">
        <div class="card-body">
            <div class="todo-list">
                <h2 class="text-danger">TODO list ({{ stat }}):</h2>
                {% for todo in list_todo %}
                    <div class="todo-item">
                        <div class="checker ">
                            <span class="">
                                <input type="checkbox" onclick="return false;">
                            </span>
                        </div>
                        <span>{{ todo }}</span>
                    </div>
                {% endfor %}
                {% for done in list_done %}
                    <div class="todo-item complete">
                        <div class="checker ">
                            <span class="">
                                <input type="checkbox" onclick="return false;" checked>
                            </span>
                        </div>
                        <span>{{ done }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}